<!-- assignment:
  1. Create a new game
* 2. Delete existing game
  3. Save game(s) when things change
-->

{% extends "parentTemplate.html" %}

{% block mainContent %}

  <h1>Game {{ gameIndex }}</h1>

  {% if game.winner %}
    <div class="banner">
      GAME OVER!!!!!

      Winner is {{ 'you!' if game.humanFirst else 'the computer!' }}
    </div>
  {% endif %}

  <div class="board">
    {% for space in range(9) %}
      <div class="space">
        <div class="space-contents">
          {% if game.board.state[space] === 1 %}
            X
          {% elif game.board.state[space] === 2 %}
            O
          {% elif not game.board.winner %}
            <form method="POST" action="/{{ gameIndex }}">
              <button class="play-move" data-space="{{space}}" data-row="{{ space // 3 }}" data-column="{{ space % 3 }}"></button>
              <input type="hidden" name="row" value="{{ space // 3 }}" />
              <input type="hidden" name="col" value="{{ space % 3 }}" />
            </form>
          {% else %}
            &nbsp;
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>

  <form method="POST" action="/{{ gameIndex }}">
    <button class="delete-game">DELETE THIS GAME</button>
    <input type="hidden" name="X-HTTP-METHOD" value="Delete" />
  </form>
{% endblock %}
