{% extends "parentTemplate.html" %}

{% block mainContent %}
  <!-- render HTML in macros.html file -->
  {% include "macros.html" %}

  <!-- allows variables and macros to be accessed in this file -->
  {% import "macros.html" as myMacros %}

  <h1>Day 3</h1>
  <p>{{ message }}</p>
  <div>
    We have {{ games | length }} games for you!!!!!!
  </div>
  <ul>
    {% for game in games %}
      <li>{{ myMacros.personalMessage(game.humanFirst) }}</li>
    {% endfor %}
  </ul>

<!--   <div>
    <form method="POST" action="/new">
      <button class="create-game">Create a new game</button>
    </form>
  </div>
 -->
{% endblock %}
